<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= form_tag({controller: 'users', action: 'create'}, method: 'post') do %>
  <%= label_tag('Email') %>
  <%= text_field_tag(:email) %>

  <%= label_tag('Password') %>
  <%= text_field_tag(:password) %>

  <%= submit_tag('Submit') %>
<% end %>
